parameters:
    # Directorios a analizar
    paths:
        - /

    # Excluir la carpeta vendor
    excludePaths:
        analyse:
            - vendor

    # Nivel de strictness (puedes ajustar este valor)
    level: 5

